$c1prim: #9950DF;
$c1a1: #B66BFC;
$c1a2: #D486FF;
$c1a3: #F2A2FF;
$c1a4: #FFBEFF;
$c1-dark: #05005D;
$c1-light: #FEFEDF;
$c2prim: #FFAA6E;

$h-text: 3vh;
$b-text: 2vh;
$mw: 640px;

.header {
  //background-color: $c1-dark;
  color: $c1-light;
  font-weight: 800;
  font-size: $b-text;
  margin: 0;
  padding: 1vh;
  padding-bottom: 0;
  width: 100%;
  min-width: $mw;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  flex-direction: row;
  align-items: center;
  background-color: $c1-dark;
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  .logo img {
    height: 9vh;
    max-height: 100px;
    display: inline-block;
    margin-right: 1.4vh;
  }

  #m {
    color: $c1a1;
  }

  .ltext {
    font-size: 5vh;
    padding: 0.5vh;
    margin-right: 3vw;
  }

  .btext {
    font-size: 2.5vh;
    font-weight: normal;
    color: $c1-light;
    margin-right: 2.5vh;

  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  //background-color: $c1prim;
  justify-content: space-around;
  width: 100%;
  z-index: 1000;

  p {
    font-size: 2vh;
    font-weight: 800;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: $c1-light;
  }

  .nav {
    padding-right: 5vw;
    padding-left: 5vw;
    min-width: 250px;
    z-index: 1000;
    .content {
      padding: 1vh;
      font-weight: normal;
      display: none;
      position: absolute;
      background-color: $c1prim;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
      padding-left: 10px;
      padding-right: 10px;
      min-width: 160px;
      color: #fff;
      transition: all 300ms ease-in-out forwards;
      transform-origin: top center;
      z-index: 200000;
    }
    text-align: center;
  }

  .nav:hover {
    cursor: pointer;
    background-color: $c1prim;
    transition: 0.5s all;
    z-index: 200000;
  }

  .nav:hover .content {
    display: block;
    animation: growDown 300ms ease-in-out backwards;
  }

  .sel {
    font-size: 2vh;
    display: block;
    margin: 1vh;
    font-weight: normal;
    text-align: left;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.bimg {
  img {
    width: 100%;
    min-width: 1200px;
    z-index: -1000;
  }
}

.cont {
  padding: 2vh;
  min-width: $mw;
  width: 80%;
  margin: auto;
  font-size: $b-text;
  color: $c1-dark;

  .heading {
    font-weight: 900;
    line-height: 1;
    font-size: $h-text;
    color: $c1prim;
  }

  .heading2 {
    font-weight: 900;
    line-height: 1;
    font-size: 2.5vh;
    color: $c1prim;
  }

  img {
    width: 75%;
  }

  .box {
    padding: 2vh;

    img {
      min-width: 400px;
      width: 80%;
      margin: auto;
    }
  }

  #A1, #A3 {
    text-align: justify;
  }

  #A2, #A4 {
    float: left;
  }
}

.footer {
  min-width: $mw;
  display: flex;
  flex-wrap: wrap;
  color: $c1-light;
  justify-content: center;
  align-items: center;
  background-color: $c1-dark;
  position: static;
  padding: 3vh;
  bottom: 0;
  width: 100%;

  .item {
    padding-left: 3vh;
    padding-right: 3vh;
  }

  #logos {
    width: 100%;
    text-align: center;
  }

  #logos img {
    margin: 2vh;
  }

  #school {
    font-weight: 800;
  }

  a {
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.four {
  //404
  text-align: center;
  width: 100%;
  font-weight: 900;
  color: $c1-dark;
  font-size: 10vh;
  position: absolute;
  line-height: 1.1;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  p {
    font-weight: 400;
    font-size: 2.2vh;
  }
}

//other pages
.announcement {
  padding: 2vh;
  padding-left: 0;
  img {
    width: 20%;
    float: left;
    margin-right: 3vh;
  }

  .date {
    font-size: 2.4vh;
    font-style: italic;
    font-weight: 300;
    padding-left: 3vh;
  }

  .desc {
    font-weight: 300;
  }

  .circle {
    color: $c1-dark;
  }

  .circle:hover {
    cursor: pointer;
  }

  .datecontent {
    font-size: 2.8vh;
    color: $c1-dark;
  }
}

.link {
  font-weight: 900;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.nameList {
  text-align: left;
  //display: flex;
  flex-wrap: wrap;
}

#reg:hover {
  text-decoration: none;
}

.NAME {
  padding-right: 3vh;
}

.form {
  width: 100%;
  height: 80%;
  min-height: 700px;
}

.committee {
  display: flex;
  width: 80%;
  flex-direction: row;
  padding: 3vh;
  .comhead {
    font-size: 2.4vh;
    font-weight: 800;
    color: $c1prim;
  }

  .comtopic {
    font-size: 2vh;
    color: $c1-dark;
  }

  .comch {
    color: $c1-dark;
  }

  .comchname {
    color: $c1-dark;
    font-weight: 800;
    transition: 0.5s all;
  }

  .comchname:hover {
    color: $c1prim;
  }

  span:hover {
    cursor: default;
  }

  a:hover {
    cursor: pointer;
  }

  .words {
    display: flex;
    flex-direction: column;
    padding-left: 3vh;
    height: 100%;
  }

  img {
    float: left;
    width: 40vh;
    padding-right: 3vh;
  }

  .name {
    font-weight: 900;
    font-size: 2.4vh;
  }

  .bio {
    font-weight: 400;
    font-size: 2vh;
  }
}

.execs {
  display: flex;
}

.exec {
  display: flex;
  width: 80%;
  flex-direction: row;
  padding: 5vh;

  span:hover {
    cursor: default;
  }

  a:hover {
    cursor: pointer;
  }

  .words {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding-left: 3vh;
    height: 100%;
  }

  img {
    float: left;
    width: 20vh;
    padding-right: 3vh;
  }

  .name {
    font-weight: 900;
    font-size: 2.4vh;
  }

  .bio {
    font-weight: 400;
    font-size: 2vh;
  }
}

.preloadDark {
  background-color: $c1-dark;
  display: block;
  width: 100%;
  min-width: 1200px;
  z-index: -1000;
}

.preloadLight {
  background-color: $c1-light;
  display: block;
  width: 75%;
}
